<!-- <h1>hola HOME view/home.html</h1> -->

<!-- CAROUSEL PRINCIPAL -->
<div class="home-demo">
    <div class="owl-carousel owl-theme carousel-home-principal"></div>
</div>

<!-- CAROUSEL HOME -->
<div id="carousel-principal">
    <div class="home-demo">
        <h3 id="title-carousel-home"></h3>
        <div class="owl-carousel owl-theme carousel-home">
        </div>
    </div>
</div>

<!-- CATEGORIAS -->
<section id="port-sec">
    <div class="container">
        <div class="row-pad-row">
            <div class="col-md-12-col-sm-12">
                <ul class="portfolio-items2-col-3">
                    <h3 id="title-categoria">Escoge el producto perfecto para ti</h3>
                    <div id="containerCategoria"></div>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- TIPOS -->
<div class="home-demo">
    <h3 id="title-carousel-tipo">Escoge entre nuestros tipos de productos</h3>
    <div class="owl-carousel owl-theme carousel-tipo">
    </div>
</div>

<!-- PRODUCTOS -->
<div class="home-demo">
    <h3 id="title-carousel-producto">Echale un vistazo a nuestros productos disponibles</h3>
    <div class="owl-carousel owl-thme carousel-producto"></div>
</div>

<!-- ACCESORIOS -->
 <div class="home-demo">
    <h3 id="title-carousel-accesorio">Descubre nuestra variedad de accesorios</h3>
    <div class="owl-carousel owl-theme carousel-accesorio"></div>
 </div>

 <!-- POPULARIDAD -->
<div class="home-demo">
    <h3 id="title-carousel-popularidad">Echale un vistazo a nuestros productos más populares</h3>
    <div class="owl-carousel owl-theme carousel-popular"></div>
</div>

<!-- PRODUCTOS MEJOR VALORADOS (RATING) -->
<div class="home-demo">
    <h3 id="title-carousel-rating">Nuestros productos mejor valorados</h3>
    <div class="owl-carousel owl-theme carousel-rating"></div>
</div>

<!-- CATEGORIAS MAS VISTAS -->
<div class="home-demo">
    <h3 id="title-carousel-rating-categoria">Nuestras categorias mas visitadas</h3>
    <div class="owl-carousel owl-theme carousel-rating-categoria"></div>
</div>

<!-- TIPOS MAS VISTOS -->
<div class="home-demo">
    <h3 id="title-carousel-rating-tipo">Nuestros tipos de productos mas visitados</h3>
    <div class="owl-carousel owl-theme carousel-rating-tipo"></div>
</div>

</section>