<style>
    body{
        text-align:center;
    }

     .err503{
        color: orange;
        margin-top: 10%;
        font-size: 3em;
    }

    .goIndex{
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        background-color: goldenrod;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        font-size: 1.2em;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .goIndex:hover {
        background-color: darkgoldenrod;
        border-color: orange;
        box-shadow: 0 0 8px goldenrod;
        color:#fff;
        transition: 1s;
    }
</style>
<h1 class="err503">ERROR 503</h1>
<a href="/SegundaJugada-POO/" class="goIndex">VOLVER AL HOME</a>