<style>
    #header {
        text-align: center;
    }
</style>
<div id="header">
    <div class="buscar">
        <select id="tipo_producto"></select>
        <select id="categoria_producto"></select>
        <input type="text" id="autocompletar" autocomplete="off" />
        <input type="button" value="Buscar" id="boton_buscar" />

        <!-- <ul id=nav_desp_user>
            <li class="log_princ" style="width:50px;height:50px;"><button class="log-icon"></button>
                <ul>
                    <li id="des_inf_user"></li>
                </ul>
            </li>
        </ul> -->
    </div>
    <div id="buscar_producto"></div>
</div>