<body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <!-- <a href="/SegundaJugada-POO/" class="logo">
                            <img src="<?php echo SITE_PATH?>view/images/web-logo/b-logo.png">
                        </a> -->
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <!-- <ul class="nav"> -->
                            <!-- <li class="scroll-to-section"><a href="/SegundaJugada-POO/" class="active">Home</a></li> -->
                            <!-- <li class="scroll-to-section" id="page-productos"><a href="index.php?module=shop">Productos</a></li> -->
                            <!-- <li class="submenu">
                                <a href="javascript:;">Paginas</a>
                                <ul>
                                    <li><a href="about.html">Sobre nosotros</a></li>
                                    <li><a href="index.php?module=ctrl_shop&op=list">Productos</a></li>
                                    <li><a href="single-product.html">Single Product</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </li> -->
                            <!-- <li class="submenu">
                                <a href="javascript:;">Categorías</a>
                                <ul>
                                    <li><a class="categoria_menu" id_categoria_menu="1">Hombre</a></li>
                                    <li><a class="categoria_menu" id_categoria_menu="2">Mujer</a></li>
                                    <li><a class="categoria_menu" id_categoria_menu="3">Niños</a></li>
                                    <li><a class="categoria_menu" id_categoria_menu="4">Adolescentes</a></li>
                                    <li><a class="categoria_menu" id_categoria_menu="5">Bebes</a></li>
                                </ul>
                            </li>
                            <li class="submenu submenu-cuenta">
                                
                            </li> -->
                            <!-- <li class="scroll-to-section"><a href="#explore">Iniciar sesión / Registrarse</a></li> -->
                        <!-- </ul>         -->
                        <!-- <a class='menu-trigger'>
                            <span>Menu</span>
                        </a> -->
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->