<!DOCTYPE html>
<html lang="en">

  <head>

    <!-- <meta charset="utf-8"> -->
    <meta charset="utf8mb4">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <!-- JavaScript MVC files -->
    <script src = "<?php echo SITE_PATH?>view/js/ajaxpromise.js"></script>
    <script src = "<?php echo SITE_PATH?>view/js/menu.js"></script>
    <script src = "<?php echo SITE_PATH?>view/js/main.js"></script>
    <script src = "<?php echo SITE_PATH?>view/js/activity.js"></script>
    <script src = "<?php echo SITE_PATH?>view/js/paths.js"></script>

    <title>Segunda Jugada</title>
    <link rel="icon" type="image/png" href="<?php echo SITE_PATH?>view/images/web-logo/favicon.png">


    <!-- CSS PLANTILLA -->
    <link rel="stylesheet" type="text/css" href="<?php echo SITE_PATH?>view/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="<?php echo SITE_PATH?>view/css/font-awesome.css">

    <link rel="stylesheet" href="<?php echo SITE_PATH?>view/css/templatemo-hexashop.css">

    <link rel="stylesheet" href="<?php echo SITE_PATH?>view/css/owl-carousel.css">

    <link rel="stylesheet" href="<?php echo SITE_PATH?>view/css/lightbox.css">
<!--

TemplateMo 571 Hexashop

https://templatemo.com/tm-571-hexashop

-->
    </head>