<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <meta charset="utf-8"> -->
    <meta charset="utf8mb4">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <!-- jQuery -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <!-- CAROUSEL GLIDER -->
    <link rel="stylesheet" href="<?php echo SITE_PATH?>view/css/glider.css">
    <link rel="stylesheet" href="<?php echo SITE_PATH?>view/css/glider.min.css">
    <script src="<?php echo SITE_PATH?>view/js/glider.js"></script>
    <script src="<?php echo SITE_PATH?>view/js/glider-compat.min.js"></script>
    <script src="<?php echo SITE_PATH?>view/js/glider.min.js"></script>
    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!-- TOASTR -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <!-- JavaScript MVC files -->
    <script src="<?php echo SITE_PATH?>view/js/ajaxpromise.js"></script>
    <script src="<?php echo SITE_PATH?>module/shop/view/js/ctrl_shop.js"></script>
    <script src = "<?php echo SITE_PATH?>view/js/menu.js"></script>
    <script src="<?php echo SITE_PATH?>module/search/view/js/ctrl_search.js"></script>
    <script src = "<?php echo SITE_PATH?>view/js/main.js"></script>
    <script src = "<?php echo SITE_PATH?>view/js/activity.js"></script>
    <script src = "<?php echo SITE_PATH?>view/js/paths.js"></script>
    <!-- OWL CAROUSEL -->
    <link rel="stylesheet" type="text/css" href="<?php echo SITE_PATH?>view/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="<?php echo SITE_PATH?>view/css/owl.theme.default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- noUiSlider -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.5.0/nouislider.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.5.0/nouislider.min.js"></script>
    <!-- CSS MIO -->
    <link rel="stylesheet" href="<?php echo SITE_PATH?>view/css/styles.css">
    <link rel="stylesheet" href="<?php echo SITE_PATH?>view/css/menu.css">
    <link rel="stylesheet" href="<?php echo SITE_PATH?>view/css/shop.css">
    <link rel="stylesheet" href="<?php echo SITE_PATH?>view/css/global.css">
    <!-- CSS LEAFLET -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
    <!-- JS LEAFLET -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>

    <title>SJ - Productos</title>
    <link rel="icon" type="image/png" href="<?php echo SITE_PATH?>view/images/web-logo/favicon.png">

    <!-- CSS PLANTILLA -->
    <link rel="stylesheet" type="text/css" href="<?php echo SITE_PATH?>view/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="<?php echo SITE_PATH?>view/css/font-awesome.css">
    <link rel="stylesheet" href="<?php echo SITE_PATH?>view/css/templatemo-hexashop.css">
    <link rel="stylesheet" href="<?php echo SITE_PATH?>view/css/owl-carousel.css">
    <link rel="stylesheet" href="<?php echo SITE_PATH?>view/css/lightbox.css">
</head>