<!-- <h1>hola SHOP view/shop.html</h1> -->

<!-- LIST -->
<div class="container-shop-list">
    <div class="container-filtros">
    </div> <!-- end .container-filtros -->
        <div class="container-productos">
        </div> <!-- end .container-productos -->
</div> <!-- end .container-shop-list -->

<!-- PAGINACION -->
<div id="paginacion" class="paginacion"></div>

<!-- DETAILS -->
<div class="container-details" id="cont-det">
    <div class="prodsimg">
        <div class="owl-carousel owl-theme productos_img" id="container-date-img"> </div>
    </div>
    <div class="inf-details" id="container-date-img"> </div>
    <div class="down-details"></div>
</div>
<div class="details_productos_relacionados">
    <div class="titulo-productos-relacionados"></div>
    <div class="cargar-prelacionados"></div>
    <div class="boton-cargar-mas-productos"></div>
</div>

<!-- LEAFLET (MAPA) -->
<div class="mapLeafleft"></div>

<!-- BOTON PARA DESPLAZARSE ARRIBA DEL TODO -->
<div class="sot"></div>